![Ironhack Logo](https://i.imgur.com/1QgrNNw.png)

In [10]:
from pymongo import MongoClient
import pandas as pd

cliente = MongoClient("mongodb://localhost:27017/")
db=cliente.companies
col=db.companies

In [13]:
(col.find()).limit(10)

# Answers
### 1. All the companies that it's name match 'Babelgum'. Retrieve only their `name` field.

In [21]:
list(col.find({'name':'Babelgum'},{'_id':0,'name':1}))

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [27]:
list(col.find({'number_of_employees':{'$gt': 5000}},{'_id':0, 'name':1,'number_of_employees':'1'})\
     .limit(20).sort('number_of_employees',-1))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000},
 {'name': 'Sony', 'number_of_employees': 180500},
 {'name': 'LG', 'number_of_employees': 177000},
 {'name': 'Ford', 'number_of_employees': 171000},
 {'name': 'Boeing', 'number_of_employees': 160000},
 {'name': 'Digital Equipment Corporation', 'number_of_employees': 140000},
 {'name': 'Nokia', 'number_of_employees': 125000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'Comcast', 'number_of_employees': 100000},
 {'name': 'Bertelsmann', 'number_of_employees': 100000}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fileds.

In [38]:
list(col.find({'founded_year':{'$gte': 2000,'$lte':2005}},{'_id':0, 'name':1,'founded_year':'1'})
     .limit(35).sort('founded_year',1))

[{'name': 'AllofMP3', 'founded_year': 2000},
 {'name': 'Steorn', 'founded_year': 2000},
 {'name': 'MeeVee', 'founded_year': 2000},
 {'name': 'PhotoBox', 'founded_year': 2000},
 {'name': 'Boonex', 'founded_year': 2000},
 {'name': 'Sulake', 'founded_year': 2000},
 {'name': 'SelectMinds', 'founded_year': 2000},
 {'name': 'ContextWeb', 'founded_year': 2000},
 {'name': 'ZoomInfo', 'founded_year': 2000},
 {'name': 'eHarmony', 'founded_year': 2000},
 {'name': 'Espotting', 'founded_year': 2000},
 {'name': 'airG', 'founded_year': 2000},
 {'name': 'Marchex', 'founded_year': 2000},
 {'name': 'ContactOffice', 'founded_year': 2000},
 {'name': 'WooMe', 'founded_year': 2000},
 {'name': 'Boomi', 'founded_year': 2000},
 {'name': 'zSlide', 'founded_year': 2000},
 {'name': 'Phrasebase', 'founded_year': 2000},
 {'name': 'Ubertor', 'founded_year': 2000},
 {'name': 'JobDig', 'founded_year': 2000},
 {'name': 'Quigo', 'founded_year': 2000},
 {'name': 'Compete', 'founded_year': 2000},
 {'name': 'LinkStorm', 'founded_year': 2000},
 {'name': 'iStockphoto', 'founded_year': 2000},
 {'name': 'beRecruited', 'founded_year': 2000},
 {'name': 'FastBooking', 'founded_year': 2000},
 {'name': 'Smilebox', 'founded_year': 2000},
 {'name': 'Deem', 'founded_year': 2000},
 {'name': 'CDNetworks', 'founded_year': 2000},
 {'name': 'TripAdvisor', 'founded_year': 2000},
 {'name': 'Oversee', 'founded_year': 2000},
 {'name': 'iModules Software', 'founded_year': 2000},
 {'name': 'eTeacher', 'founded_year': 2000},
 {'name': 'uVuMobile', 'founded_year': 2000},
 {'name': 'Escapia', 'founded_year': 2000}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [58]:
list((col.find({'ipo.valuation_amount': {'$gt':100000000},'founded_year':{'$lt':2010}},{'_id':0, 'name':1,'ipo.valuation_amount':1 })
     .limit(20).sort('founded_year',1)))

[{'name': 'Nielsen', 'ipo': {'valuation_amount': 1600000000}},
 {'name': 'Western Digital', 'ipo': {'valuation_amount': 9430000000}},
 {'name': 'BMC Software', 'ipo': {'valuation_amount': 6000000000}},
 {'name': 'Geeknet', 'ipo': {'valuation_amount': 134000000}},
 {'name': 'QlikTech', 'ipo': {'valuation_amount': 1000000000}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000}},
 {'name': 'OpenTable', 'ipo': {'valuation_amount': 1050000000}},
 {'name': 'Rackspace', 'ipo': {'valuation_amount': 5440000000}},
 {'name': 'Tencent', 'ipo': {'valuation_amount': 11000000000}},
 {'name': 'Shutterfly', 'ipo': {'valuation_amount': 350000000}},
 {'name': 'Salesforce', 'ipo': {'valuation_amount': 110000000}},
 {'name': 'QuinStreet', 'ipo': {'valuation_amount': 140000000}},
 {'name': 'Infoblox', 'ipo': {'valuation_amount': 824000000}},
 {'name': 'Baidu', 'ipo': {'valuation_amount': 4000000000}},
 {'name': 'Opsware', 'ipo': {'valuation_amount': 450000000}},
 {'name': 'Telenav', 'ipo': {'valuation_amount': 337000000}},
 {'name': 'Mixi', 'ipo': {'valuation_amount': 970000000}},
 {'name': 'SolarWinds', 'ipo': {'valuation_amount': 803000000}},
 {'name': 'DemandTec', 'ipo': {'valuation_amount': 245000000}},
 {'name': 'Cornerstone OnDemand', 'ipo': {'valuation_amount': 900000000}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [87]:
list((col.find({'number_of_employees': {'$lt':1000},'founded_year':{'$gt':2005}},{'_id':0, 'name':1,'number_of_employees':1 })
     .limit(10).sort('number_of_employees',-1)))

[{'name': 'InMobi', 'number_of_employees': 900},
 {'name': 'Relax Solutions Pvt Ltd', 'number_of_employees': 900},
 {'name': '4shared', 'number_of_employees': 666},
 {'name': 'HubSpot', 'number_of_employees': 650},
 {'name': 'Kabam', 'number_of_employees': 650},
 {'name': 'Linekong', 'number_of_employees': 600},
 {'name': 'Square', 'number_of_employees': 600},
 {'name': 'Vostu', 'number_of_employees': 550},
 {'name': 'i365, A Seagate Company', 'number_of_employees': 550},
 {'name': 'TaskUs', 'number_of_employees': 540}]

### 6. All the companies that don't include the `partners` field.

In [86]:
list((col.find({'partners': {'$type': 10 }},{'_id':0, 'name':1})
     .limit(30)))

[]

### 7. All the companies that have a null type of value on the `category_code` field.

In [76]:
list((col.find({'category_code': {'$ne': None}},{'_id':0, 'name':1})
     .limit(30)))

[{'name': 'Wetpaint'},
 {'name': 'AdventNet'},
 {'name': 'Zoho'},
 {'name': 'Digg'},
 {'name': 'Facebook'},
 {'name': 'Omnidrive'},
 {'name': 'Postini'},
 {'name': 'Geni'},
 {'name': 'Flektor'},
 {'name': 'Fox Interactive Media'},
 {'name': 'Twitter'},
 {'name': 'StumbleUpon'},
 {'name': 'Gizmoz'},
 {'name': 'Scribd'},
 {'name': 'Slacker'},
 {'name': 'Lala'},
 {'name': 'Helio'},
 {'name': 'eBay'},
 {'name': 'MeetMoi'},
 {'name': 'Joost'},
 {'name': 'CBS'},
 {'name': 'Viacom'},
 {'name': 'Babelgum'},
 {'name': 'Plaxo'},
 {'name': 'Cisco'},
 {'name': 'Yahoo!'},
 {'name': 'Powerset'},
 {'name': 'Technorati'},
 {'name': 'SpinVox'},
 {'name': 'AddThis'}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [92]:
list((col.find({'number_of_employees': {'$gte':100},'number_of_employees':{'$lt':1000}},
               {'_id':0, 'name':1,'number_of_employees':1 })
            .limit(10).sort('number_of_employees',-1)))

[{'name': 'Datamonitor', 'number_of_employees': 984},
 {'name': 'Infinera Corporation', 'number_of_employees': 974},
 {'name': 'Box', 'number_of_employees': 950},
 {'name': 'NorthPoint Communications Group', 'number_of_employees': 948},
 {'name': '888 Holdings', 'number_of_employees': 931},
 {'name': 'Forrester Research', 'number_of_employees': 903},
 {'name': 'Workday', 'number_of_employees': 900},
 {'name': 'InMobi', 'number_of_employees': 900},
 {'name': 'Relax Solutions Pvt Ltd', 'number_of_employees': 900},
 {'name': 'SonicWALL', 'number_of_employees': 900}]

### 9. Order all the companies by their IPO price descendently.

In [103]:
 list((col.find({'ipo.valuation_amount': {'$gt':0}},{'_id':0, 'name':1,'ipo.valuation_amount':1 })
     .limit(20).sort('founded_year',-1)))

[{'name': 'Inuvo', 'ipo': {'valuation_amount': 30000000}},
 {'name': 'Inuvo', 'ipo': {'valuation_amount': 30000000}},
 {'name': 'KIT digital', 'ipo': {'valuation_amount': 235000000}},
 {'name': 'Groupon', 'ipo': {'valuation_amount': 12800000000}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000}},
 {'name': 'Wix', 'ipo': {'valuation_amount': 750000000}},
 {'name': 'Vringo', 'ipo': {'valuation_amount': 11003200}},
 {'name': 'Marketo', 'ipo': {'valuation_amount': 465000000}},
 {'name': 'Millennial Media', 'ipo': {'valuation_amount': 973500000}},
 {'name': 'Zillow', 'ipo': {'valuation_amount': 2550000000}},
 {'name': 'HomeAway', 'ipo': {'valuation_amount': 3000000000}},
 {'name': 'Chegg', 'ipo': {'valuation_amount': 1100000000}},
 {'name': 'Chegg', 'ipo': {'valuation_amount': 1100000000}},
 {'name': 'Tudou', 'ipo': {'valuation_amount': 174000000}},
 {'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000}},
 {'name': 'Yelp', 'ipo': {'valuation_amount': 1300000000}},
 {'name': 'Brightcove', 'ipo': {'valuation_amount': 290000000}},
 {'name': 'BrightSource Energy', 'ipo': {'valuation_amount': 1000000000}},
 {'name': 'GREE', 'ipo': {'valuation_amount': 108960000000}},
 {'name': 'LinkedIn', 'ipo': {'valuation_amount': 9310000000}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [105]:
list(col.find({'number_of_employees':{'$gt': 0}},{'_id':0, 'name':1,'number_of_employees':'1'})\
     .limit(10).sort('number_of_employees',-1))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]