![Ironhack Logo](https://i.imgur.com/1QgrNNw.png)

In [1]:
from pymongo import MongoClient
client=MongoClient()
db=client.companies

# Answers
### 1. All the companies that it's name match 'Babelgum'. Retrieve only their `name` field.

In [19]:
c_bab=db.companies.find({'name': 'Babelgum'})

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [42]:
c_5000=db.companies.find({'number_of_employees':  {'$gt': 5000}},
                         {'name':1, '_id':0, 'number_of_employees':1}).limit(20).sort("number_of_employees", -1)
list(c_5000)

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000},
 {'name': 'Sony', 'number_of_employees': 180500},
 {'name': 'LG', 'number_of_employees': 177000},
 {'name': 'Ford', 'number_of_employees': 171000},
 {'name': 'Boeing', 'number_of_employees': 160000},
 {'name': 'Digital Equipment Corporation', 'number_of_employees': 140000},
 {'name': 'Nokia', 'number_of_employees': 125000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'Comcast', 'number_of_employees': 100000},
 {'name': 'Bertelsmann', 'number_of_employees': 100000}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fileds.

In [66]:
c_fy=db.companies.find({'founded_year': {'$gte': 2000 ,'$lte': 2005}},
                         {'name':1, '_id':0, 'founded_year':1}).sort("founded_year", 1)

list(c_fy)[:10]

[{'name': 'AllofMP3', 'founded_year': 2000},
 {'name': 'Steorn', 'founded_year': 2000},
 {'name': 'MeeVee', 'founded_year': 2000},
 {'name': 'PhotoBox', 'founded_year': 2000},
 {'name': 'Boonex', 'founded_year': 2000},
 {'name': 'Sulake', 'founded_year': 2000},
 {'name': 'SelectMinds', 'founded_year': 2000},
 {'name': 'ContextWeb', 'founded_year': 2000},
 {'name': 'ZoomInfo', 'founded_year': 2000},
 {'name': 'eHarmony', 'founded_year': 2000}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [115]:
c_vaA=db.companies.find({'ipo.valuation_amount': {'$gte': 100000000},
                        'founded_year': {'$lte': 2010}}, 
                       {'name':1, 'ipo.valuation_amount':1})
list(c_vaA)[:4]

[{'_id': ObjectId('52cdef7c4bab8bd675297d8e'),
  'name': 'Facebook',
  'ipo': {'valuation_amount': 104000000000}},
 {'_id': ObjectId('52cdef7c4bab8bd675297d94'),
  'name': 'Twitter',
  'ipo': {'valuation_amount': 18100000000}},
 {'_id': ObjectId('52cdef7c4bab8bd675297de0'),
  'name': 'Yelp',
  'ipo': {'valuation_amount': 1300000000}},
 {'_id': ObjectId('52cdef7c4bab8bd675297e0c'),
  'name': 'LinkedIn',
  'ipo': {'valuation_amount': 9310000000}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [140]:
c_emp=db.companies.find({'number_of_employees': {'$lt': 1000},
                        'founded_year': {'$lte': 2005}}, 
                       {'name':1, '_id':0,'number_of_employees':1}).sort('number_of_employees',-1).limit(10)
list(c_emp)

[{'name': 'Infinera Corporation', 'number_of_employees': 974},
 {'name': 'Box', 'number_of_employees': 950},
 {'name': 'NorthPoint Communications Group', 'number_of_employees': 948},
 {'name': '888 Holdings', 'number_of_employees': 931},
 {'name': 'Forrester Research', 'number_of_employees': 903},
 {'name': 'Webmetrics', 'number_of_employees': 900},
 {'name': 'SonicWALL', 'number_of_employees': 900},
 {'name': 'Workday', 'number_of_employees': 900},
 {'name': 'Cornerstone OnDemand', 'number_of_employees': 881},
 {'name': 'Mozilla', 'number_of_employees': 800}]

### 6. All the companies that don't include the `partners` field.

In [158]:
c_part=db.companies.find({'partners':{'$ne':False}}, 
                       {'name':1, '_id':0}).sort('partners',-1)
list(c_part)[:4]

[]

### 7. All the companies that have a null type of value on the `category_code` field.

In [159]:
c_cat=db.companies.find({'category_code':{'$type': 10 }}, 
                       {'name':1, '_id':0,'category_code':1}).sort('category_code',-1)
list(c_cat)[:6]

[{'name': 'Collective', 'category_code': None},
 {'name': 'Snimmer', 'category_code': None},
 {'name': 'KoolIM', 'category_code': None},
 {'name': 'Level9 Media', 'category_code': None},
 {'name': 'VidKing', 'category_code': None},
 {'name': 'Drigg', 'category_code': None}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [162]:
c_nem=db.companies.find({'number_of_employees':{'$gte': 100,'$lt':1000 }}, 
                       {'name':1, '_id':0,'number_of_employees':1}).sort('number_of_employees',-1)
list(c_nem)[:6]

[{'name': 'Datamonitor', 'number_of_employees': 984},
 {'name': 'Infinera Corporation', 'number_of_employees': 974},
 {'name': 'Box', 'number_of_employees': 950},
 {'name': 'NorthPoint Communications Group', 'number_of_employees': 948},
 {'name': '888 Holdings', 'number_of_employees': 931},
 {'name': 'Forrester Research', 'number_of_employees': 903}]

### 9. Order all the companies by their IPO price descendently.

In [175]:
c_ipo=db.companies.find({'ipo.valuation_amount': {'$gte': 0}}, 
                       {'name':1, '_id':0,'ipo.valuation_amount':1}).sort('ipo.valuation_amount',-1)
list(c_ipo)[:4]

[{'name': 'GREE', 'ipo': {'valuation_amount': 108960000000}},
 {'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [177]:
c_nu=db.companies.find({'number_of_employees':{'$gte': 0}}, 
                       {'name':1, '_id':0,'number_of_employees':1}).sort('number_of_employees',-1)
list(c_nu)[:10]

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]