![Ironhack Logo](https://i.imgur.com/1QgrNNw.png)

In [1]:
from pymongo import MongoClient
import pandas as pd
client=MongoClient('mongodb://localhost:27017')
db = client.companies
colec = db.companies_col
client.list_database_names()

['admin', 'companies', 'config', 'local']

# Answers
### 1. All the companies that it's name match 'Babelgum'. Retrieve only their `name` field.

In [2]:
list(colec.find({'name':'Babelgum'},{'_id':0, 'name':1}))

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [3]:
list(colec.find({'number_of_employees': {'$gte': 50}},{'_id':0, 'name':1,'number_of_employees':1}).limit(20).sort('number_of_employees', -1))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000},
 {'name': 'Sony', 'number_of_employees': 180500},
 {'name': 'LG', 'number_of_employees': 177000},
 {'name': 'Ford', 'number_of_employees': 171000},
 {'name': 'Boeing', 'number_of_employees': 160000},
 {'name': 'Digital Equipment Corporation', 'number_of_employees': 140000},
 {'name': 'Nokia', 'number_of_employees': 125000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'Comcast', 'number_of_employees': 100000},
 {'name': 'Bertelsmann', 'number_of_employees': 100000}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fileds.

In [4]:
list(colec.find({'founded_year': {'$gte': 2000,'$lte': 2005}},{'_id':0, 'name':1,'founded_year':1}))[:10]

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'Omnidrive', 'founded_year': 2005},
 {'name': 'StumbleUpon', 'founded_year': 2002},
 {'name': 'Gizmoz', 'founded_year': 2003},
 {'name': 'Helio', 'founded_year': 2005},
 {'name': 'Plaxo', 'founded_year': 2002},
 {'name': 'Technorati', 'founded_year': 2002}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [5]:
list(colec.find(
    {'ipo.valuation_amount': {'$gte': 100000000},
    'founded_year': {'$lte': 2010}},
    {'_id':0, 'name':1, 'ipo':1}))[:3]

[{'name': 'Facebook',
  'ipo': {'valuation_amount': 104000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 5,
   'pub_day': 18,
   'stock_symbol': 'NASDAQ:FB'}},
 {'name': 'Twitter',
  'ipo': {'valuation_amount': 18100000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'NYSE:TWTR'}},
 {'name': 'Yelp',
  'ipo': {'valuation_amount': 1300000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 3,
   'pub_day': 2,
   'stock_symbol': 'NYSE:YELP'}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [6]:
list(colec.find({'founded_year': {'$lte': 2005},'number_of_employees':{'$lt':1000}},{'_id':0, 'name':1,'founded_year':1}).limit(10).sort('number_of_employees', -1))

[{'name': 'Infinera Corporation', 'founded_year': 2000},
 {'name': 'Box', 'founded_year': 2005},
 {'name': 'NorthPoint Communications Group', 'founded_year': 1997},
 {'name': '888 Holdings', 'founded_year': 1997},
 {'name': 'Forrester Research', 'founded_year': 1983},
 {'name': 'Webmetrics', 'founded_year': 1999},
 {'name': 'SonicWALL', 'founded_year': 1991},
 {'name': 'Workday', 'founded_year': 2005},
 {'name': 'Cornerstone OnDemand', 'founded_year': 1999},
 {'name': 'Mozilla', 'founded_year': 1998}]

### 6. All the companies that don't include the `partners` field.

In [7]:
list(colec.find({'partners':{ '$exists': 'false' }},{'_id':0, 'name':1}))[:10]

[{'name': 'Wetpaint'},
 {'name': 'AdventNet'},
 {'name': 'Zoho'},
 {'name': 'Digg'},
 {'name': 'Facebook'},
 {'name': 'Omnidrive'},
 {'name': 'Postini'},
 {'name': 'Geni'},
 {'name': 'Flektor'},
 {'name': 'Fox Interactive Media'}]

### 7. All the companies that have a null type of value on the `category_code` field.

In [8]:
list(colec.find({'category_code':None},{'_id':0, 'name':1}))[:10]

[{'name': 'Collective'},
 {'name': 'Snimmer'},
 {'name': 'KoolIM'},
 {'name': 'Level9 Media'},
 {'name': 'VidKing'},
 {'name': 'Drigg'},
 {'name': 'SpaceTime'},
 {'name': 'Touch Clarity'},
 {'name': 'MMDAYS'},
 {'name': 'Inside Group'}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [9]:
list(colec.find({'number_of_employees':{'$lt':1000,'$gte':100}},{'_id':0, 'name':1,'number_of_employees':1}))[:5]

[{'name': 'AdventNet', 'number_of_employees': 600},
 {'name': 'AddThis', 'number_of_employees': 120},
 {'name': 'OpenX', 'number_of_employees': 305},
 {'name': 'LifeLock', 'number_of_employees': 644},
 {'name': 'Jajah', 'number_of_employees': 110}]

### 9. Order all the companies by their IPO price descendently.

In [10]:
 list(colec.find({},{'_id':0, 'name':1,'ipo.valuation_amount':1}).sort('ipo.valuation_amount', -1))[:5] # We should change the currency of every company and unificate it to, for example, dollars

[{'name': 'GREE', 'ipo': {'valuation_amount': 108960000000}},
 {'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000}},
 {'name': 'Groupon', 'ipo': {'valuation_amount': 12800000000}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [11]:
 list(colec.find({},{'_id':0, 'name':1,'number_of_employees':1}).sort('number_of_employees', -1).limit(10))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]