![Ironhack Logo](https://i.imgur.com/1QgrNNw.png)

In [1]:
from pymongo import MongoClient
client=MongoClient()
db=client.companies

In [4]:
cliente=MongoClient('mongodb://localhost:27017')

In [5]:
db=cliente.companies # es la base de datos

In [6]:
colec=db.companies_col # es la coleccion

# Answers
### 1. All the companies that it's name match 'Babelgum'. Retrieve only their `name` field.

In [10]:
list(colec.find({'name': 'Babelgum'}, {'_id': 0, 'name': 1}))

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [35]:
(colec.find({'number_of_employees': {'$gt': 5000}}).limit(20).sort('number_of_employees',-1))

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fileds.

In [43]:
(colec.find({'founded_year': {'$gte': 2000, '$lte': 2005}}, {'_id': 0, 'name': 1, 'founded_year':1}))

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [48]:
(colec.find({'ipo.valuation_amount': {'$gte': 100000000}, 'founded_year': {'$lt':2010}}, {'_id': 0, 'name': 1, 'ipo':1}))

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [51]:
(colec.find({'number_of_employees': {'$lt': 1000}, 'founded_year': {'$lt':2005}}).limit(10).sort('number_of_employees',-1))

### 6. All the companies that don't include the `partners` field.

In [64]:
(colec.find({'partners': {'$ne':True}}))

### 7. All the companies that have a null type of value on the `category_code` field.

In [59]:
(colec.find({'category_code': None}))

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [62]:
(colec.find({'number_of_employees': {'$gte': 100, '$lt': 1000}}, {'_id': 0, 'name': 1, 'number_of_employees':1}))

### 9. Order all the companies by their IPO price descendently.

In [69]:
(colec.find().sort('ipo.valuation_amount',-1))

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [68]:
(colec.find().limit(10).sort('number_of_employees',-1))