![Ironhack Logo](https://i.imgur.com/1QgrNNw.png)

In [3]:
from pymongo import MongoClient
client=MongoClient()
db=client.companies
coleccion =db.companies_coll

# Answers
### 1. All the companies that it's name match 'Babelgum'. Retrieve only their `name` field.

In [7]:
list(coleccion.find({'name': 'Babelgum'},{'name':1,'_id':0}))

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [16]:
list(coleccion.find({'number_of_employees': {'$gt': 5000}},{'name':1,'_id':0,'number_of_employees':1}).limit(20).sort('number_of_employees',-1))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000},
 {'name': 'Sony', 'number_of_employees': 180500},
 {'name': 'LG', 'number_of_employees': 177000},
 {'name': 'Ford', 'number_of_employees': 171000},
 {'name': 'Boeing', 'number_of_employees': 160000},
 {'name': 'Digital Equipment Corporation', 'number_of_employees': 140000},
 {'name': 'Nokia', 'number_of_employees': 125000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'Comcast', 'number_of_employees': 100000},
 {'name': 'Bertelsmann', 'number_of_employees': 100000}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fileds.

In [19]:
list(coleccion.find({'founded_year': {'$gte': 2000 ,'$lte': 2005}},{'name':1,'_id':0,'founded_year':1}).limit(10))

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'Omnidrive', 'founded_year': 2005},
 {'name': 'StumbleUpon', 'founded_year': 2002},
 {'name': 'Gizmoz', 'founded_year': 2003},
 {'name': 'Helio', 'founded_year': 2005},
 {'name': 'Plaxo', 'founded_year': 2002},
 {'name': 'Technorati', 'founded_year': 2002}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [40]:
list(coleccion.find({
    "ipo.valuation_amount" : { '$gte' : 100000000 },
    "founded_year" : { "$lt": 2010 }},
    {'name':1,'_id':0, 'ipo':1 }
).limit(5))

[{'name': 'Facebook',
  'ipo': {'valuation_amount': 104000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 5,
   'pub_day': 18,
   'stock_symbol': 'NASDAQ:FB'}},
 {'name': 'Twitter',
  'ipo': {'valuation_amount': 18100000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'NYSE:TWTR'}},
 {'name': 'Yelp',
  'ipo': {'valuation_amount': 1300000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 3,
   'pub_day': 2,
   'stock_symbol': 'NYSE:YELP'}},
 {'name': 'LinkedIn',
  'ipo': {'valuation_amount': 9310000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 7,
   'pub_day': 20,
   'stock_symbol': 'NYSE:LNKD'}},
 {'name': 'Amazon',
  'ipo': {'valuation_amount': 100000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 1997,
   'pub_month': 5,
   'pub_day': None,
   'stock_symbol': 'NASDAQ:AMZN'}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [41]:
list(coleccion.find({
    "number_of_employees" : { '$lt' : 1000 },
    "founded_year" : { "$lt": 2005 }},
    {'name':1,'_id':0, 'ipo':1 }
).limit(10).sort('number_of_employees',-1))

[{'name': 'Infinera Corporation',
  'ipo': {'valuation_amount': None,
   'valuation_currency_code': 'USD',
   'pub_year': 2007,
   'pub_month': 6,
   'pub_day': 7,
   'stock_symbol': 'INFN'}},
 {'name': 'NorthPoint Communications Group', 'ipo': None},
 {'name': '888 Holdings', 'ipo': None},
 {'name': 'Forrester Research',
  'ipo': {'valuation_amount': None,
   'valuation_currency_code': 'JPY',
   'pub_year': 1987,
   'pub_month': 6,
   'pub_day': 16,
   'stock_symbol': 'FORR'}},
 {'name': 'SonicWALL', 'ipo': None},
 {'name': 'Webmetrics', 'ipo': None},
 {'name': 'Cornerstone OnDemand',
  'ipo': {'valuation_amount': 900000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 7,
   'pub_day': 5,
   'stock_symbol': 'CSOD'}},
 {'name': 'Mozilla', 'ipo': None},
 {'name': 'Buongiorno',
  'ipo': {'valuation_amount': None,
   'valuation_currency_code': 'USD',
   'pub_year': 2003,
   'pub_month': 7,
   'pub_day': 17,
   'stock_symbol': 'BNG'}},
 {'name': 'Yelp',
  'ipo': {'valuation_amount': 1300000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 3,
   'pub_day': 2,
   'stock_symbol': 'NYSE:YELP'}}]

### 6. All the companies that don't include the `partners` field.

In [49]:
list(coleccion.find({'partners':{'$exists': True}},{'name':1,'_id':0}).limit(10))

[{'name': 'Wetpaint'},
 {'name': 'AdventNet'},
 {'name': 'Zoho'},
 {'name': 'Digg'},
 {'name': 'Facebook'},
 {'name': 'Omnidrive'},
 {'name': 'Postini'},
 {'name': 'Geni'},
 {'name': 'Flektor'},
 {'name': 'Fox Interactive Media'}]

### 7. All the companies that have a null type of value on the `category_code` field.

In [53]:
list(coleccion.find({'category_code':None},{'name':1,'_id':0}).limit(10))

[{'name': 'Collective'},
 {'name': 'Snimmer'},
 {'name': 'KoolIM'},
 {'name': 'Level9 Media'},
 {'name': 'VidKing'},
 {'name': 'Drigg'},
 {'name': 'SpaceTime'},
 {'name': 'Touch Clarity'},
 {'name': 'MMDAYS'},
 {'name': 'Inside Group'}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [55]:
list(coleccion.find({
    "number_of_employees" : { '$gte' : 100 },
    "number_of_employees" : { "$lt": 1000 }},
    {'name':1,'_id':0, 'number_of_employees':1 }
).limit(10))

[{'name': 'Wetpaint', 'number_of_employees': 47},
 {'name': 'AdventNet', 'number_of_employees': 600},
 {'name': 'Digg', 'number_of_employees': 60},
 {'name': 'Geni', 'number_of_employees': 18},
 {'name': 'Fox Interactive Media', 'number_of_employees': 0},
 {'name': 'Scribd', 'number_of_employees': 50},
 {'name': 'MeetMoi', 'number_of_employees': 15},
 {'name': 'Joost', 'number_of_employees': 0},
 {'name': 'Plaxo', 'number_of_employees': 50},
 {'name': 'Powerset', 'number_of_employees': 60}]

### 9. Order all the companies by their IPO price descendently.

In [59]:
 list(coleccion.find({
    "ipo.valuation_amount" : { "$gte":0 }},
    {'name':1,'_id':0, 'number_of_employees':1 }
).limit(10).sort('ipo.valuation_amount',-1))

[{'name': 'GREE', 'number_of_employees': 700},
 {'name': 'Facebook', 'number_of_employees': 5299},
 {'name': 'Amazon', 'number_of_employees': None},
 {'name': 'Twitter', 'number_of_employees': 1300},
 {'name': 'Groupon', 'number_of_employees': 10000},
 {'name': 'Tencent', 'number_of_employees': None},
 {'name': 'Western Digital', 'number_of_employees': None},
 {'name': 'LinkedIn', 'number_of_employees': 4800},
 {'name': 'BMC Software', 'number_of_employees': None},
 {'name': 'Rackspace', 'number_of_employees': None}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [60]:
 list(coleccion.find({
    "number_of_employees" : { "$gte":0 }},
    {'name':1,'_id':0, 'number_of_employees':1 }
).limit(10).sort('number_of_employees',-1))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]