![Ironhack Logo](https://i.imgur.com/1QgrNNw.png)

In [7]:
!pip install pymongo
from pymongo import MongoClient
client=MongoClient()
db=client.companies1
coleccion=db.companies

Requirement already satisfied: pymongo in /home/diego/anaconda3/lib/python3.9/site-packages (4.0.1)

# Answers
### 1. All the companies that it's name match 'Babelgum'. Retrieve only their `name` field.

In [10]:
list(coleccion.find({'name': 'Babelgum'},{'name':1,'_id':0}))

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [14]:
list(coleccion.find({'number_of_employees': {'$gt': 5000}},{'name':1,'_id':0, "number_of_employees":1}).limit(20).sort('number_of_employees', -1))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000},
 {'name': 'Sony', 'number_of_employees': 180500},
 {'name': 'LG', 'number_of_employees': 177000},
 {'name': 'Ford', 'number_of_employees': 171000},
 {'name': 'Boeing', 'number_of_employees': 160000},
 {'name': 'Digital Equipment Corporation', 'number_of_employees': 140000},
 {'name': 'Nokia', 'number_of_employees': 125000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'Comcast', 'number_of_employees': 100000},
 {'name': 'Bertelsmann', 'number_of_employees': 100000}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fileds.

In [19]:
list(coleccion.find({'founded_year': {'$gte': 2000 ,'$lte': 2005}},{'name':1,'_id':0, "founded_year":1}).limit(50))

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'Omnidrive', 'founded_year': 2005},
 {'name': 'StumbleUpon', 'founded_year': 2002},
 {'name': 'Gizmoz', 'founded_year': 2003},
 {'name': 'Helio', 'founded_year': 2005},
 {'name': 'Plaxo', 'founded_year': 2002},
 {'name': 'Technorati', 'founded_year': 2002},
 {'name': 'AddThis', 'founded_year': 2004},
 {'name': 'Veoh', 'founded_year': 2004},
 {'name': 'Jingle Networks', 'founded_year': 2005},
 {'name': 'Meetup', 'founded_year': 2002},
 {'name': 'LifeLock', 'founded_year': 2005},
 {'name': 'Wesabe', 'founded_year': 2005},
 {'name': 'Jangl SMS', 'founded_year': 2005},
 {'name': 'SmugMug', 'founded_year': 2002},
 {'name': 'Jajah', 'founded_year': 2005},
 {'name': 'Skype', 'founded_year': 2003},
 {'name': 'YouTube', 'founded_year': 2005},
 {'name': 'Pando Networks', 'founded_year': 2004},
 {'name': 'Ikan', 'founded_year': 2003},
 {'name': 'delicious', 'founded_year': 2003},
 {'name': 'Topix', 'founded_year': 2002},
 {'name': 'Jobster', 'founded_year': 2004},
 {'name': 'Revision3', 'founded_year': 2005},
 {'name': 'AllPeers', 'founded_year': 2004},
 {'name': 'iSkoot', 'founded_year': 2005},
 {'name': 'AllofMP3', 'founded_year': 2000},
 {'name': 'Steorn', 'founded_year': 2000},
 {'name': 'iContact', 'founded_year': 2003},
 {'name': 'MeeVee', 'founded_year': 2000},
 {'name': 'blinkx', 'founded_year': 2004},
 {'name': 'ClipBlast!', 'founded_year': 2005},
 {'name': 'Zlio', 'founded_year': 2005},
 {'name': 'Yelp', 'founded_year': 2004},
 {'name': 'Coghead', 'founded_year': 2003},
 {'name': 'Farecast', 'founded_year': 2003},
 {'name': 'Dailymotion', 'founded_year': 2005},
 {'name': 'KickApps', 'founded_year': 2004},
 {'name': 'RockYou', 'founded_year': 2005},
 {'name': 'Instructables', 'founded_year': 2005},
 {'name': 'Netvibes', 'founded_year': 2005},
 {'name': 'Swivel', 'founded_year': 2005},
 {'name': 'Slide', 'founded_year': 2005},
 {'name': 'Bebo', 'founded_year': 2005},
 {'name': 'Flickr', 'founded_year': 2004},
 {'name': 'TripHub', 'founded_year': 2005},
 {'name': 'FeedBurner', 'founded_year': 2004}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [43]:
list(coleccion.find({
    "ipo.valuation_amount" : { '$gte' : 100000000 },
    "founded_year" : { "$lt": 2010 }},
    {'name':1,'_id':0, 'ipo':1 }
).limit(25))

[{'name': 'Facebook',
  'ipo': {'valuation_amount': 104000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 5,
   'pub_day': 18,
   'stock_symbol': 'NASDAQ:FB'}},
 {'name': 'Twitter',
  'ipo': {'valuation_amount': 18100000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'NYSE:TWTR'}},
 {'name': 'Yelp',
  'ipo': {'valuation_amount': 1300000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 3,
   'pub_day': 2,
   'stock_symbol': 'NYSE:YELP'}},
 {'name': 'LinkedIn',
  'ipo': {'valuation_amount': 9310000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 7,
   'pub_day': 20,
   'stock_symbol': 'NYSE:LNKD'}},
 {'name': 'Amazon',
  'ipo': {'valuation_amount': 100000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 1997,
   'pub_month': 5,
   'pub_day': None,
   'stock_symbol': 'NASDAQ:AMZN'}},
 {'name': 'Brightcove',
  'ipo': {'valuation_amount': 290000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 2,
   'pub_day': 17,
   'stock_symbol': 'NASDAQ:BCOV'}},
 {'name': 'KIT digital',
  'ipo': {'valuation_amount': 235000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2010,
   'pub_month': 7,
   'pub_day': 27,
   'stock_symbol': 'KITD'}},
 {'name': 'Nielsen',
  'ipo': {'valuation_amount': 1600000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 1,
   'pub_day': 26,
   'stock_symbol': 'NYSE:NLSN'}},
 {'name': 'OpenTable',
  'ipo': {'valuation_amount': 1050000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2009,
   'pub_month': 5,
   'pub_day': 21,
   'stock_symbol': 'NASDAQ:OPEN'}},
 {'name': 'ChannelAdvisor',
  'ipo': {'valuation_amount': 287000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 5,
   'pub_day': 23,
   'stock_symbol': 'NYSE:ECOM'}},
 {'name': 'Jive Software',
  'ipo': {'valuation_amount': 1000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 2,
   'pub_day': 3,
   'stock_symbol': 'NASDAQ:JIVE'}},
 {'name': 'Zillow',
  'ipo': {'valuation_amount': 2550000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 7,
   'pub_day': 19,
   'stock_symbol': 'NASDAQ:Z'}},
 {'name': 'Wix',
  'ipo': {'valuation_amount': 750000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 6,
   'stock_symbol': 'NASDAQ:WIX'}},
 {'name': 'Shutterfly',
  'ipo': {'valuation_amount': 350000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2006,
   'pub_month': 9,
   'pub_day': 29,
   'stock_symbol': 'SFLY'}},
 {'name': 'TripAdvisor',
  'ipo': {'valuation_amount': 3273770000,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 12,
   'pub_day': 21,
   'stock_symbol': 'TRIP'}},
 {'name': 'Salesforce',
  'ipo': {'valuation_amount': 110000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2004,
   'pub_month': 7,
   'pub_day': 2,
   'stock_symbol': 'NYSE:CRM'}},
 {'name': 'HomeAway',
  'ipo': {'valuation_amount': 3000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 6,
   'pub_day': 29,
   'stock_symbol': 'NASDAQ:AWAY'}},
 {'name': 'QuinStreet',
  'ipo': {'valuation_amount': 140000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2010,
   'pub_month': 1,
   'pub_day': 11,
   'stock_symbol': 'NASDAQ:QNST'}},
 {'name': 'Rackspace',
  'ipo': {'valuation_amount': 5440000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'RAX'}},
 {'name': 'BMC Software',
  'ipo': {'valuation_amount': 6000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 1988,
   'pub_month': 8,
   'pub_day': 12,
   'stock_symbol': 'NASDAQ:BMC'}},
 {'name': 'Higher One',
  'ipo': {'valuation_amount': 1060000000,
   'valuation_currency_code': 'USD',
   'pub_year': None,
   'pub_month': None,
   'pub_day': None,
   'stock_symbol': 'NYSE:ONE'}},
 {'name': 'Infoblox',
  'ipo': {'valuation_amount': 824000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 4,
   'pub_day': 20,
   'stock_symbol': 'NYSE:BLOX'}},
 {'name': 'Tencent',
  'ipo': {'valuation_amount': 11000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2004,
   'pub_month': 6,
   'pub_day': 16,
   'stock_symbol': 'HK:0700'}},
 {'name': 'Marketo',
  'ipo': {'valuation_amount': 465000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 4,
   'pub_day': 2,
   'stock_symbol': 'NASDAQ:MKTO'}},
 {'name': 'Baidu',
  'ipo': {'valuation_amount': 4000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2005,
   'pub_month': 8,
   'pub_day': 5,
   'stock_symbol': 'NASDAQ:BIDU'}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [47]:
list(coleccion.find({
    "number_of_employees" : { '$lt' : 1000 },
    "founded_year" : { "$lt": 2005 }},
    {'name':1,'_id':0, 'number_of_employees':1 }
).sort('number_of_employees', -1).limit(10))

[{'name': 'Infinera Corporation', 'number_of_employees': 974},
 {'name': 'NorthPoint Communications Group', 'number_of_employees': 948},
 {'name': '888 Holdings', 'number_of_employees': 931},
 {'name': 'Forrester Research', 'number_of_employees': 903},
 {'name': 'SonicWALL', 'number_of_employees': 900},
 {'name': 'Webmetrics', 'number_of_employees': 900},
 {'name': 'Cornerstone OnDemand', 'number_of_employees': 881},
 {'name': 'Mozilla', 'number_of_employees': 800},
 {'name': 'Buongiorno', 'number_of_employees': 800},
 {'name': 'Yelp', 'number_of_employees': 800}]

### 6. All the companies that don't include the `partners` field.

In [54]:
list(coleccion.find( { 'partners' : { '$exists': True } },{'name':1,'_id':0 } ).limit(25))

[{'name': 'Wetpaint'},
 {'name': 'AdventNet'},
 {'name': 'Zoho'},
 {'name': 'Digg'},
 {'name': 'Facebook'},
 {'name': 'Omnidrive'},
 {'name': 'Postini'},
 {'name': 'Geni'},
 {'name': 'Flektor'},
 {'name': 'Fox Interactive Media'},
 {'name': 'Twitter'},
 {'name': 'StumbleUpon'},
 {'name': 'Gizmoz'},
 {'name': 'Scribd'},
 {'name': 'Slacker'},
 {'name': 'Lala'},
 {'name': 'Helio'},
 {'name': 'eBay'},
 {'name': 'MeetMoi'},
 {'name': 'Joost'},
 {'name': 'CBS'},
 {'name': 'Viacom'},
 {'name': 'Babelgum'},
 {'name': 'Plaxo'},
 {'name': 'Cisco'}]

### 7. All the companies that have a null type of value on the `category_code` field.

In [59]:
list(coleccion.find( { 'category_code' : None },{'name':1,'_id':0 } ).limit(25))

[{'name': 'Collective'},
 {'name': 'Snimmer'},
 {'name': 'KoolIM'},
 {'name': 'Level9 Media'},
 {'name': 'VidKing'},
 {'name': 'Drigg'},
 {'name': 'SpaceTime'},
 {'name': 'Touch Clarity'},
 {'name': 'MMDAYS'},
 {'name': 'Inside Group'},
 {'name': 'Repeater Store'},
 {'name': 'Tapesh'},
 {'name': 'iPersians'},
 {'name': 'NewPersia'},
 {'name': 'Pyra Labs'},
 {'name': 'Feedmap'},
 {'name': 'NuvoMedia'},
 {'name': 'Intwine'},
 {'name': 'The Weinstein Company'},
 {'name': 'ExecuNet'},
 {'name': 'A1Vacations'},
 {'name': 'TripHomes'},
 {'name': 'Picturehouse'},
 {'name': 'Covalent Technologies'},
 {'name': 'Epic Trip'}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [63]:
list(coleccion.find({
    "number_of_employees" : { '$gte' : 100 },
    "number_of_employees" : { "$lte": 1000 }},
    {'name':1,'_id':0, 'number_of_employees':1 }
).limit(10))

[{'name': 'Wetpaint', 'number_of_employees': 47},
 {'name': 'AdventNet', 'number_of_employees': 600},
 {'name': 'Digg', 'number_of_employees': 60},
 {'name': 'Geni', 'number_of_employees': 18},
 {'name': 'Fox Interactive Media', 'number_of_employees': 0},
 {'name': 'Scribd', 'number_of_employees': 50},
 {'name': 'MeetMoi', 'number_of_employees': 15},
 {'name': 'Joost', 'number_of_employees': 0},
 {'name': 'Plaxo', 'number_of_employees': 50},
 {'name': 'Powerset', 'number_of_employees': 60}]

### 9. Order all the companies by their IPO price descendently.

In [69]:
#the first one is in JPY, but if you carry out a currency conversion it will get lower
list(coleccion.find({
    "ipo.valuation_amount" : {'$gte': 0}},
    {'name':1,'_id':0, 'ipo':1 }
).limit(25).sort('ipo.valuation_amount', -1))

[{'name': 'GREE',
  'ipo': {'valuation_amount': 108960000000,
   'valuation_currency_code': 'JPY',
   'pub_year': 2008,
   'pub_month': 12,
   'pub_day': 17,
   'stock_symbol': '3632'}},
 {'name': 'Facebook',
  'ipo': {'valuation_amount': 104000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 5,
   'pub_day': 18,
   'stock_symbol': 'NASDAQ:FB'}},
 {'name': 'Amazon',
  'ipo': {'valuation_amount': 100000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 1997,
   'pub_month': 5,
   'pub_day': None,
   'stock_symbol': 'NASDAQ:AMZN'}},
 {'name': 'Twitter',
  'ipo': {'valuation_amount': 18100000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'NYSE:TWTR'}},
 {'name': 'Groupon',
  'ipo': {'valuation_amount': 12800000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'NASDAQ:GRPN'}},
 {'name': 'Tencent',
  'ipo': {'valuation_amount': 11000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2004,
   'pub_month': 6,
   'pub_day': 16,
   'stock_symbol': 'HK:0700'}},
 {'name': 'Western Digital',
  'ipo': {'valuation_amount': 9430000000,
   'valuation_currency_code': 'USD',
   'pub_year': None,
   'pub_month': None,
   'pub_day': None,
   'stock_symbol': 'NYSE:WDC'}},
 {'name': 'LinkedIn',
  'ipo': {'valuation_amount': 9310000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 7,
   'pub_day': 20,
   'stock_symbol': 'NYSE:LNKD'}},
 {'name': 'BMC Software',
  'ipo': {'valuation_amount': 6000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 1988,
   'pub_month': 8,
   'pub_day': 12,
   'stock_symbol': 'NASDAQ:BMC'}},
 {'name': 'Rackspace',
  'ipo': {'valuation_amount': 5440000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'RAX'}},
 {'name': 'Baidu',
  'ipo': {'valuation_amount': 4000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2005,
   'pub_month': 8,
   'pub_day': 5,
   'stock_symbol': 'NASDAQ:BIDU'}},
 {'name': 'TripAdvisor',
  'ipo': {'valuation_amount': 3273770000,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 12,
   'pub_day': 21,
   'stock_symbol': 'TRIP'}},
 {'name': 'HomeAway',
  'ipo': {'valuation_amount': 3000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 6,
   'pub_day': 29,
   'stock_symbol': 'NASDAQ:AWAY'}},
 {'name': 'Zillow',
  'ipo': {'valuation_amount': 2550000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 7,
   'pub_day': 19,
   'stock_symbol': 'NASDAQ:Z'}},
 {'name': 'Nielsen',
  'ipo': {'valuation_amount': 1600000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 1,
   'pub_day': 26,
   'stock_symbol': 'NYSE:NLSN'}},
 {'name': 'Yelp',
  'ipo': {'valuation_amount': 1300000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 3,
   'pub_day': 2,
   'stock_symbol': 'NYSE:YELP'}},
 {'name': 'Chegg',
  'ipo': {'valuation_amount': 1100000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 14,
   'stock_symbol': 'NYSE:CHGG'}},
 {'name': 'Chegg',
  'ipo': {'valuation_amount': 1100000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 14,
   'stock_symbol': 'NYSE:CHGG'}},
 {'name': 'RPX Corporation',
  'ipo': {'valuation_amount': 1096000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 5,
   'pub_day': 4,
   'stock_symbol': 'RPXC'}},
 {'name': 'Higher One',
  'ipo': {'valuation_amount': 1060000000,
   'valuation_currency_code': 'USD',
   'pub_year': None,
   'pub_month': None,
   'pub_day': None,
   'stock_symbol': 'NYSE:ONE'}},
 {'name': 'OpenTable',
  'ipo': {'valuation_amount': 1050000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2009,
   'pub_month': 5,
   'pub_day': 21,
   'stock_symbol': 'NASDAQ:OPEN'}},
 {'name': 'QlikTech',
  'ipo': {'valuation_amount': 1000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2010,
   'pub_month': 7,
   'pub_day': 16,
   'stock_symbol': 'QLIK'}},
 {'name': 'Jive Software',
  'ipo': {'valuation_amount': 1000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 2,
   'pub_day': 3,
   'stock_symbol': 'NASDAQ:JIVE'}},
 {'name': 'BrightSource Energy',
  'ipo': {'valuation_amount': 1000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 4,
   'pub_day': 22,
   'stock_symbol': 'NASDAQ:BRSE'}},
 {'name': 'Millennial Media',
  'ipo': {'valuation_amount': 973500000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 3,
   'pub_day': 28,
   'stock_symbol': 'NYSE:MM'}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [71]:
list(coleccion.find({
    "number_of_employees" : {'$gte': 0}},
    {'name':1,'_id':0, 'number_of_employees':1 }
).limit(10).sort('number_of_employees', -1))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]