![Ironhack Logo](https://i.imgur.com/1QgrNNw.png)

In [9]:
from pymongo import MongoClient
client=MongoClient()
db=client.companies

In [10]:
list(db.list_collections())

[{'name': 'first_office',
  'type': 'collection',
  'options': {},
  'info': {'readOnly': False,
   'uuid': Binary(b'8\xa0\x8c\xe8\xae\x15L\xa7\x8eQF\x0b\xb2\x86@\xdc', 4)},
  'idIndex': {'v': 2, 'key': {'_id': 1}, 'name': '_id_'}},
 {'name': 'companies',
  'type': 'collection',
  'options': {},
  'info': {'readOnly': False,
   'uuid': Binary(b'\x9c\xcf)\x11\xbb\xe6B@\xbc\x07>3\x8a\xbe\x15\x06', 4)},
  'idIndex': {'v': 2, 'key': {'_id': 1}, 'name': '_id_'}}]

# Answers
### 1. All the companies that it's name match 'Babelgum'. Retrieve only their `name` field.

In [11]:
client.list_database_names()

['admin', 'companies', 'config', 'local']

In [12]:
colec=db.companies

In [13]:
p = list(colec.find())

In [15]:
query = {'name':{'$eq':'Babelgum'}}
query

{'name': {'$eq': 'Babelgum'}}

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [16]:
query2 = list(colec.find({'number_of_employees': {'$gt': 5000}},{'_id':0, 'name':1, 'number_of_employees':1}).sort('number_of_employees',-1).limit(20))
query2[0:2]

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000}]

In [ ]:
"""
query2 = {"number_of_employees":{"$gte":5000}}
list2 = list(db["companies"].find(query2).sort("number_of_employees",1).limit(20))
"""

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fileds.

In [17]:
query3 = list(colec.find({'founded_year': {'$gte': 2000, '$lte': 2005}},{'_id':0, 'name':1, 'founded_year':1}).sort('founded_year',1))
query3[0:2]

[{'name': 'AllofMP3', 'founded_year': 2000},
 {'name': 'Steorn', 'founded_year': 2000}]

In [ ]:
"""
query3 = {"$and":[{"founded_year":{"$gte":2000}},{"founded_year":{"$lte":2005}}]}
list(db["companies"].find(query3,{"_id":0,"name":1,"founded_year":1}).limit(5))
"""

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [18]:
# With command '$and', I apply both conditions to my search. I take these columns; "name" and "valuation amount". 
query4 = list(colec.find({"$and":[{'ipo.valuation_amount': {'$gt': 100000000}},{'founded_year': {'$lte': 2010}}]}, {'_id':0,'name':1, 'ipo.valuation_amount':1}))
query4[0:2]

[{'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000}}]

In [21]:
"""query4 = {"$and":[{"ipo.valuation_amount":{"$gt":100000000}}, {"founded_year":{"$lte":2010}}]}
list(db["companies"].find(query4,{"_id":0,"name":1,"ipo.valuation_amount":1}).sort("nipo.valuation_amount",-1).limit(5))"""

'query4 = {"$and":[{"ipo.valuation_amount":{"$gt":100000000}}, {"founded_year":{"$lte":2010}}]}\nlist(db["companies"].find(query4,{"_id":0,"name":1,"ipo.valuation_amount":1}).sort("nipo.valuation_amount",-1).limit(5))'

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [22]:
query5 = list(colec.find({'$and':[{'number_of_employees': {'$lt': 1000}},{'founded_year': {'$lte': 2005}}]}, {'_id':0, 'name':1, 'number_of_employees':1, 'founded_year':1}).sort('number_of_employees',-1).limit(10))
query5

[{'name': 'Infinera Corporation',
  'number_of_employees': 974,
  'founded_year': 2000},
 {'name': 'Box', 'number_of_employees': 950, 'founded_year': 2005},
 {'name': 'NorthPoint Communications Group',
  'number_of_employees': 948,
  'founded_year': 1997},
 {'name': '888 Holdings', 'number_of_employees': 931, 'founded_year': 1997},
 {'name': 'Forrester Research',
  'number_of_employees': 903,
  'founded_year': 1983},
 {'name': 'Webmetrics', 'number_of_employees': 900, 'founded_year': 1999},
 {'name': 'SonicWALL', 'number_of_employees': 900, 'founded_year': 1991},
 {'name': 'Workday', 'number_of_employees': 900, 'founded_year': 2005},
 {'name': 'Cornerstone OnDemand',
  'number_of_employees': 881,
  'founded_year': 1999},
 {'name': 'Mozilla', 'number_of_employees': 800, 'founded_year': 1998}]

In [ ]:
"""
query5 = {"$and":[{"number_of_employees":{"$lte":1000}}, {"founded_year":{"$lte":2005}}]}
list(db["companies"].find(query5,{"_id":0,"name":1,"number_of_employees":1, "founded_year":1}).sort("number_of_employees",-1).limit(10))
"""

### 6. All the companies that don't include the `partners` field.

In [35]:
query6 = list(colec.find({'partners': {'$exists': False}},{'_id':0, 'name':1, 'partners':1}))
query6[0:2]

[]

In [ ]:
"""
query6 = {"partners": {"$exists": False }}
list(db["companies"].find(query6))
"""

### 7. All the companies that have a null type of value on the `category_code` field.

In [34]:
query7 = list(colec.find({'category_code': {'$type': "null"}},{'_id':0, 'name':1, 'category_code':1}))
query7[0:2]

[{'name': 'Collective', 'category_code': None},
 {'name': 'Snimmer', 'category_code': None}]

In [ ]:
"""
query7 = {"category_code": { "$type": "null" }}
list(db["companies"].find(query7,{"_id":0,"name":1,"category_code":1}).limit(5))
"""

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [24]:
query8 = list(colec.find({'number_of_employees': {'$gte': 100, '$lt': 1000}}, {'_id':0, 'name':1, 'number_of_employees':1}))
query8[0:2]

[{'name': 'AdventNet', 'number_of_employees': 600},
 {'name': 'AddThis', 'number_of_employees': 120}]

In [ ]:
"""
query8 = {"$and":[{"number_of_employees":{"$gte":100}}, {"number_of_employees":{"$lte":1000}}]}
list(db["companies"].find(query8,{"_id":0,"name":1,"number_of_employees":1}).limit(5))
"""

### 9. Order all the companies by their IPO price descendently.

In [23]:
query9 = list(colec.find({}, {'_id':0, 'name':1, 'ipo.valuation_amount':1}).sort('ipo.valuation_amount',-1))
query9[0:2]

[{'name': 'GREE', 'ipo': {'valuation_amount': 108960000000}},
 {'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000}}]

In [ ]:
"""
query9= {"ipo.valuation_amount":{"$gte":0}}
list(db["companies"].find(query9,{"_id":0,"name":1,"ipo.valuation_amount":1}).sort("ipo.valuation_amount",-1).limit(10))
"""

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [48]:
query10 = list(colec.find({}, {'_id':0, 'name':1, 'number_of_employees':1}).sort('number_of_employees',-1).limit(10))
query10

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]

In [ ]:
"""
query10 = {"number_of_employees":{"$gte":0}}
list(db["companies"].find(query10,{"_id":0,"name":1,"number_of_employees":1}).sort("number_of_employees",-1).limit(10))
"""