![Ironhack Logo](https://i.imgur.com/1QgrNNw.png)

In [3]:
from pymongo import MongoClient
client=MongoClient()
db=client.companies

# Answers
### 1. All the companies that it's name match 'Babelgum'. Retrieve only their `name` field.

In [4]:
client.list_database_names()

['admin', 'companies', 'config', 'local']

In [5]:
colec=db.companies
colec

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'companies'), 'companies')

In [45]:
p = list(colec.find())

In [21]:
r1 = list(colec.find({'name':'Babelgum'}, {'_id':0, 'name':1}))
r1

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [20]:
r2 = list(colec.find({'number_of_employees': {'$gt': 5000}},{'_id':0, 'name':1, 'number_of_employees':1}).sort('number_of_employees',-1).limit(20))
r2[0:2]

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fileds.

In [19]:
r3 = list(colec.find({'founded_year': {'$gte': 2000, '$lte': 2005}},{'_id':0, 'name':1, 'founded_year':1}).sort('founded_year',1))
r3[0:2]

[{'name': 'AllofMP3', 'founded_year': 2000},
 {'name': 'Steorn', 'founded_year': 2000}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [56]:
# With command '$and', I apply both conditions to my search. I take these columns; "name" and "valuation amount". 
r4 = list(colec.find({'ipo.valuation_amount': {'$gt': 100000000}} and {'founded_year': {'$lte': 2010}}, {'_id':0,'name':1, 'ipo.valuation_amount':1}))
r4[0:2]

[{'name': 'Wetpaint'}, {'name': 'AdventNet'}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [26]:
r5 = list(colec.find({'$and':[{'number_of_employees': {'$lt': 1000}},{'founded_year': {'$lte': 2005}}]}, {'_id':0, 'name':1, 'number_of_employees':1, 'founded_year':1}).sort('number_of_employees',-1).limit(10))
r5[0:2]

[{'name': 'Infinera Corporation',
  'number_of_employees': 974,
  'founded_year': 2000},
 {'name': 'Box', 'number_of_employees': 950, 'founded_year': 2005}]

### 6. All the companies that don't include the `partners` field.

In [35]:
r6 = list(colec.find({'partners': {'$exists': False}},{'_id':0, 'name':1, 'partners':1}))
r6[0:2]

[]

### 7. All the companies that have a null type of value on the `category_code` field.

In [34]:
r7 = list(colec.find({'category_code': {'$type': "null"}},{'_id':0, 'name':1, 'category_code':1}))
r7[0:2]

[{'name': 'Collective', 'category_code': None},
 {'name': 'Snimmer', 'category_code': None}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [36]:
r8 = list(colec.find({'number_of_employees': {'$gte': 100, '$lt': 1000}}, {'_id':0, 'name':1, 'number_of_employees':1}))
r8[0:2]

[{'name': 'AdventNet', 'number_of_employees': 600},
 {'name': 'AddThis', 'number_of_employees': 120}]

### 9. Order all the companies by their IPO price descendently.

In [54]:
r9 = list(colec.find({}, {'_id':0, 'name':1, 'IPO':1}).sort('IPO',-1))
r9[0:2]

[{'name': 'Wetpaint'}, {'name': 'AdventNet'}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [48]:
r10 = list(colec.find({}, {'_id':0, 'name':1, 'number_of_employees':1}).sort('number_of_employees',-1).limit(10))
r10

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]